@model Presentation.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}

<h5 class="text-danger">При обработке запроса возникла ошибка</h5>

@if (Model is not null && !string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
    </p>
}